<div class="container">
  <form [formGroup]="form" (ngSubmit)="onCreate()">
    <div>
      <button type="button" (click)="image.click()" color="primary">
        Add Pic
      </button>
      <input
        type="file"
        #image
        style="display: none;"
        (change)="onAddFile($event)"
      />

      <div class="image-preview" *ngIf="filePreview">
        <img [src]="filePreview" [alt]="form.value.title" />
      </div>
    </div>

    <button color="primary" [disabled]="!form.valid" type="submit">
      Submit
    </button>
  </form>
</div>
